.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    background: linear-gradient(var(--color-primary),transparent);
    /* background: linear-gradient(360deg,transparent,var(--color-primary),transparent); */
    border-radius: 12rem 12rem 0 0;
    display: grid;
    place-items: centre;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
    height: 22rem;
}

.about__me-image{
    border-radius: 10rem;
    /* overflow: hidden; */
    transform-origin: rotate(10deg);
    transition: var(--transition);
}

/* .about__me-image:hover{
    transform: rotate(0);
} */

/* .about__cards{
    display: flex;
    flex-direction: column;
} */

/* .about__card{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
    

} */
.about__cards{
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}
.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin: 1rem;
}
.about__content p{
    margin-top: 100px;
    color: var(--color-light);
}
.skills-set{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.skills{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius:1rem ;
    text-align: center;
    margin: 5px;
}
@media screen and (max-width: 600px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
        height: auto;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
        overflow: hidden;
    }
    .about__content p{
        margin: 1rem 0 1.5rem;
    }

    
}